<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="department">
      <h2 data-cy="departmentDetailsHeading">
        <span jhiTranslate="employeeManagerMsApp.employeeManagerMsDepartment.detail.title">Department</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ department.id }}</span>
        </dd>
        <dt><span jhiTranslate="employeeManagerMsApp.employeeManagerMsDepartment.name">Name</span></dt>
        <dd>
          <span>{{ department.name }}</span>
        </dd>
        <dt><span jhiTranslate="employeeManagerMsApp.employeeManagerMsDepartment.address">Address</span></dt>
        <dd>
          <span>{{ department.address }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/employeemanagerms/department', department.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
